.photo-grid {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 24px;
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 48px;
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 48px;
    gap: 16px;
  }
}
