.footer__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */
  color: #ffffff;
  margin-top: 32px;
  align-self: start;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer__link {
    align-self: flex-end;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding-right: 18px;
  }
}
