.lead__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  padding: 0 16px;
  /* or 110% */
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0 16px;
}
