.place__url-heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  padding: 0px 16px 12px 16px;
}

@media screen and (min-width: 768px) {
  .place__url-heading {
    padding: 0 0 12px 0;
  }
}
